*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: hsl(30, 38%, 92%);
}
.flex-container{
    display: flex;
border-radius: 10px;
   padding:0;
   margin: 3rem 23rem;
   background-color: white;
   .flex-item img{
    width: 15rem;
   }
   .flex-item{
  .perview{
    margin: .3rem;
  }
    .title{
        font-weight: 700;
        font-family: 'Fraunces', serif;
        font-size: 2rem;
        margin: .3rem;
    }
    .detail{
        font-weight: 700;
        margin: 1rem;
    }
    .amount{
        
        .discount{
        color: hsl(158, 36%, 37%);
        margin:0 1rem;
        font-size: 2rem;
        font-weight: 1000;
        font-family: 'Fraunces', serif;
        }
        .real_amount{
        
            font-weight: 700;
        }
    }
    .button{
        border: 1px solid hsl(158, 36%, 37%);
        border-radius: 5px;
        margin:3rem 1rem 0rem 1rem;
        text-align: center;
        color: white;
        font-weight: 700;
        background-color:  hsl(158, 36%, 37%);
        padding: .5rem 0 ;
    }
   }
}
